{% load static %}
<!--Footer-->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top row">
        <div class="col-1">
            <a href="{% url 'w3c:index' %}" class="mb-3 me-md-1 mb-md-0 text-muted text-decoration-none">
                <img src="{% static 'logo.png' %}" alt="image not load" class="logo-image">
            </a>
        </div>
        <div class="col-sm-8 ms-1">
            <span class="mb-3 mb-md-0 me-md-2 text-muted text-center">© 2022 W3code, Inc</span> ||
            <span class="mb-3 mb-md-0 me-md-2 text-muted text-center">This Website is Developed by Sakib Malik</span> ||
            <span class="me-md-2"><a href="{% url 'w3c:contact_us' %}"
                                     class="text-decoration-none">Contact Us</a></span>||
            <span class="me-md-2"><a href="{% url 'w3c:about_us' %}" class="text-decoration-none">About Us</a></span>||
        </div>
        <div class="col-sm-2">
            <ul class="nav ">
                <li class="ms-3"><a class="text-muted" href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a></li>
                <li class="ms-3"><a class="text-muted" href="#">
                    <i class="fa-brands fa-twitter"></i>
                </a></li>
                <li class="ms-3"><a class="text-muted" href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a></li>
            </ul>
        </div>
    </footer>
</div>