.idea
__pycache__
DatabaseApp/migrations/
Exercise/migrations/
HostingApp/migrations/
JavaApp/migrations/
JavaScriptApp/migrations/
MainApp/migrations/
MsApp/migrations/
PreparationApp/migrations/
Programmes/migrations/
ProgrammingApp/migrations/
Projects/migrations/
PythonApp/migrations/
TheoryApp/migrations/
VCApp/migrations/
WebApp/migrations/

venv
secret.json
db.sqlite3
.env