{% extends 'base.html' %}
{% block title %}{{ title }} {{ object.title }} {% endblock %}
{% load bookmarkfilter %}
{% block css %}
    <style>
        .con-list {
            position: sticky;
            top: 0;
            height: 600px;
            overflow: auto;
            width: 22%;
            background-color: white;
        }

        .accordion-body a {
            text-decoration: none;
            color: black;
            display: block;
            padding: 10px 13px;
        }

        .accordion-body a:hover {
            font-size: 18px;
        }

        .accordion {
            background-color: #dedcdc;
        }

        .accordion button:hover {
            background-color: #e3e3e3;

        }

        .con-body {
            width: 75%;
        }

        @media (max-width: 700px) {
            .con-list {
                display: none;
                width: 75%;
                z-index: 100;
                position: absolute;
                top: 125px;
            }

            .con-body {
                width: 95%;
                margin: auto;
            }
        }

        @media (min-width: 989px) {
            .con-title {
                display: none;
            }

            .con-list ul li a {
                font-size: 17px;
            }
        }

        .like-share {
            font-size: 25px;
        }

    </style>
{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="row" id="row">
        <div class="con-list" id="con-list">
            <h4 class="ms-3">{{ title }}</h4>
            <div class="accordion accordion-flush" id="accordion-list">
                {% for l in obj_list %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accordion-heading-{{ forloop.counter }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#accordion-{{ forloop.counter }}" aria-expanded="false"
                                    aria-controls="accordion-{{ forloop.counter }}">
                                {{ l.title }}
                            </button>
                        </h2>
                        <div id="accordion-{{ forloop.counter }}" class="accordion-collapse collapse"
                             aria-labelledby="accordion-{{ forloop.counter }}" data-bs-parent="#accordion-list">
                            <div class="accordion-body">
                                {% for o in l.get_child %}
                                    {% if l.title == o.parent.title %}
                                        <a href="{{ o.get_absolute_url }}">{{ o.title }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="con-body mt-2">
            <!--Body of Detail-->
            <h3 class="text-center text-white p-1 rounded-2 bg-secondary">{{ object.title }}</h3>
            <div class="d-flex justify-content-around">
                <div>
                    Views: <b>{{ object.viewcounter }}</b> Post Update&nbsp;: <b>{{ object.timestamp }}</b> Author :
                    <b><a href="" class="text-decoration-none">{{ object.author|title }}</a></b>
                </div>
                <div>
                    {% csrf_token %}
                    <span class="like-share">
                     {% if obj_like_exist == "Yes" %}
                         <a class="text-decoration-none text-dark me-3 like-button" href="#"> <i
                                 class="fa-solid fa-thumbs-up"
                                 id="like-button-top"></i></a>
                     {% else %}
                         <a class="text-decoration-none text-dark me-3 like-button" href="#"> <i
                                 class="fa-regular fa-thumbs-up" id="like-button-top"></i></a>
                     {% endif %}

                        {% if not request.user.is_authenticated %}
                            <a class="text-decoration-none text-dark me-3" href="#" id="bookmark"> <i
                                    class="fa-regular fa-bookmark"></i></a>
                        {% else %}
                            {% if article_obj|is_bookmark_exist:request %}
                                <a class="text-decoration-none text-dark me-3" href="#" id="bookmark"> <i
                                        class="fa fa-bookmark"></i></a>
                            {% else %}
                                <a class="text-decoration-none text-dark me-3" href="#" id="bookmark"> <i
                                        class="fa-regular fa-bookmark"></i></a>
                            {% endif %}
                        {% endif %}
                        <div class="dropdown d-inline">
                          <a class="text-decoration-none text-dark dropdown-toggle" role="button" id="dropdownMenuLink"
                             data-bs-toggle="dropdown"
                             aria-expanded="false">
                              <i class="fa fa-share-nodes"></i>
                          </a>

                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item text-success"
                                   href="whatsapp://send?text={{ request.build_absolute_uri }}"><i
                                    class="fa-brands fa-whatsapp"></i></a></li>
                            <li><a class="dropdown-item text-danger" target="_blank"
                                   href="https://www.instagram.com/?url={{ request.build_absolute_uri }}"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                            <li><a class="dropdown-item text-primary" target="_blank"
                                   href="https://www.twitter.com/share?url={{ request.build_absolute_uri }}"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                          </ul>
                        </div>

            </span>
                </div>
            </div>

            <section>  {{ object.content|safe }}</section>

            <!--Next and Previous button -->
            <!--Next and Previous button -->
            <div class="d-flex justify-content-between bd-highlight mb-3">
                <div>
                    {% if prev != None %}
                        <a class="btn btn-success" href="{{ prev.get_absolute_url }}"><i class="fa fa-less-than"></i>
                            &nbsp;
                            Previous</a>
                    {% else %}
                        <a class="btn btn-success disabled" href="#"><i class="fa fa-less-than"></i> &nbsp; Previous</a>
                    {% endif %}
                </div>

                <div>
                    {% if obj_like_exist == "Yes" %}
                        <button class="btn btn-outline-danger like-button" id="like-button"><i
                                class="fa-solid fa-heart"></i>
                            &nbsp;<span id="like-button-text">Liked</span>
                            <span id="like-button-number">{{ obj_like_count }}</span> &nbsp;
                        </button>
                    {% else %}
                        <button class="btn btn-outline-danger like-button" id="like-button"><i
                                class="fa-regular fa-heart"></i>
                            &nbsp;<span id="like-button-text">Like</span>
                            <span id="like-button-number">{{ obj_like_count }}</span> &nbsp;
                        </button>
                    {% endif %}
                </div>
                <div>

                    {% if next != None %}
                        <a class="btn btn-success float-end"
                           href="{{ next.get_absolute_url }}">Next &nbsp; <i class="fa fa-greater-than"></i></a>
                    {% else %}
                        <a class="btn btn-success float-end disabled" href="#">Next &nbsp; <i
                                class="fa fa-greater-than"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        document.getElementById('row').onscroll = function () {
            scrollFun()
        }

        function myFunction() {
            $('.con-list').toggle(500)
        }

        conlist = document.getElementById('con-list');

        function scrollFun() {
            let swidth = window.screen.width;
            if (swidth <= 700) {
                conlist.style.display = "none";
            }
        }

        $(window).on('resize', function (e) {
            var swidth = window.screen.width;
            if (swidth > 700) {
                var container = $("#con-list").show()
            }
        })
        $(document).mouseup(function (e) {
            var container = $("#con-list");
            var swidth = window.screen.width;
            var icon = $('#icon');
            if (swidth < 700) {
                // if the target of the click isn't the container nor a descendant of the container
                if (!container.is(e.target) && container.has(e.target).length === 0 && !icon.is(e.target) && icon.has(e.target).length === 0) {
                    container.hide(500);
                }
            }
        });

    </script>
{% endblock %}