{% extends 'base.html' %}
{% block content %}
    <div class="container-lg mt-3">
        <h4> Comments List <i class="fa fa-arrow-right"></i></h4>
        <h6>Programming Comments <i class="fa fa-arrow-right"></i></h6>
        <ul>
            <li><a href="{% url 'w3c:commentsdetail' 'c' %}">C Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'java' %}">Java Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'cplus' %}">C++ Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'python' %}">C Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'android' %}">C Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'kotlin' %}">C Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'r' %}">C Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'csharp' %}">C Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'swift' %}">C Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'js' %}">C Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'php' %}">C Language Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'dotnet' %}">C Language Comments</a></li>
        </ul>

        <h6>Preparation Comments <i class="fa fa-arrow-right"></i></h6>
        <ul>
            <li><a href="{% url 'w3c:commentsdetail' 'aptitude' %}">aptitude Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'reasoning' %}">reasoning Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'verbal' %}"> verbal Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'interview' %}">interview Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'company' %}">company Comments</a></li>
        </ul>
        <h6>Theory Comments <i class="fa fa-arrow-right"></i></h6>
        <ul>
            <li><a href="{% url 'w3c:commentsdetail' 'dbms' %}">DBMS Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'ds' %}"> Data Structure Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'daa' %}">DAA Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'os' %}">Operating System Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'cn' %}">Computer Network Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'cd' %}"> Compiler Design Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'co' %}"> Computer Organization Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'dsm' %}">Discrete Mathematics Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'se' %}">Software Engineering Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'cs' %}"> Cyber Security Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'dm' %}">Data Mining Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'ai' %}">Artificial Intelligence Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'at' %}">Automata Theory Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'cg' %}">Computer Graphics Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'wa' %}">Web API Comments</a></li>
        </ul>
        <h6>Python Comments <i class="fa fa-arrow-right"></i></h6>
        <ul>
            <li><a href="{% url 'w3c:commentsdetail' 'python' %}">Python Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'flask' %}"> Flask Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'ml' %}">machine Learning Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'numpy' %}"> Numpy Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'tkinter' %}">Tkinter Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'pytorch' %}">Pytorch Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'pygame' %}">Pygame Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'scipy' %}">Scipy Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'pandas' %}">Pandas Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'opencv' %}">Opencv Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'matplotlib' %}">matplotlib Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'selenium' %}">Selenium Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'kivy' %}">Kivy Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'jupyter' %}">Jupyter Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'dsc' %}">Data Science Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'dl' %}">Deep Learning Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'pillow' %}">Pillow Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'tensorflow' %}">Tensorflow Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'django' %}">Django Comments</a></li>
        </ul>
        <h6>Java Comments <i class="fa fa-arrow-right"></i></h6>
        <ul>
            <li><a href="{% url 'w3c:commentsdetail' 'java' %}">Java Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'servlet' %}">Servlet Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'jsp' %}"> JSP Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'sb' %}">SpringBoot Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'sf' %}"> Spring Framework Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'hibernate' %}">Hibenate Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'jsw' %}"> Java Swing Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'jfx' %}">JavaFx Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'jawt' %}"> AWT Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'jcol' %}"> J Collection Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'jdate' %}">JDate Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'jio' %}">J I/O Comments</a></li>
        </ul>
        <h6>JavaScript Comments <i class="fa fa-arrow-right"></i></h6>
        <ul>
            <li><a href="{% url 'w3c:commentsdetail' 'js' %}"> JS Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'jquery' %}"> Jquery Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'angular' %}"> Angular Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'node' %}"> Node Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'express' %}"> Express Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'react' %}">React Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'tsc' %}"> Typescript Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'vue' %}"> VUE j Comments</a></li>
        </ul>
        <h6>Database Comments <i class="fa fa-arrow-right"></i></h6>
        <ul>
            <li><a href="{% url 'w3c:commentsdetail' 'mysql' %}">MYSQL Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'mongo' %}"> MongoDB Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'postgre' %}"> postgresql Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'oracle' %}">Oracle Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'sqlite' %}">Sqlite Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'maria' %}">MariaDB Comments</a></li>
        </ul>
        <h6>Web Technology Comments <i class="fa fa-arrow-right"></i></h6>
        <ul>
            <li><a href="{% url 'w3c:commentsdetail' 'html' %}">HTML Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'css' %}"> CSS Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'js' %}">JS Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'php' %}"> PHP Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'dotnet' %}">.NET Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'laravel' %}">Laravel Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'wordpress' %}"> Wordpress Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'json' %}">JSON Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'ajax' %}">AJAX Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'bootstrap' %}">Bootstrap Comments</a></li>
        </ul>
        <h6>Microsoft Office Comments <i class="fa fa-arrow-right"></i></h6>
        <ul>
            <li><a href="{% url 'w3c:commentsdetail' 'word' %}">Word Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'excel' %}">Excel Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'pp' %}">Powerpoint Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'on' %}">One Note Comments</a></li>
        </ul>
        <h6>Versioning Control Comments <i class="fa fa-arrow-right"></i></h6>
        <ul>
            <li><a href="{% url 'w3c:commentsdetail' 'docker' %}">Docker Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'git' %}">GIT Comments</a></li>
            <li><a href="{% url 'w3c:commentsdetail' 'github' %}">GITHUB Comments</a></li>
        </ul>
    </div>
{% endblock %}