{% extends 'base.html' %}
{% block title %}{{ title }} {{ object.title }} {% endblock %}
{% load bookmarkfilter %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'customdetailstyle.css' %}">
{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="row" id="row">
        <div class="con-list" id="con-list">
            <h4 class="ms-3">{{ title }}</h4>
            <div class="accordion accordion-flush" id="accordion-list">
                {% for l in obj_list %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accordion-heading-{{ forloop.counter }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#accordion-{{ forloop.counter }}" aria-expanded="false"
                                    aria-controls="accordion-{{ forloop.counter }}">
                                {{ l.title }}
                            </button>
                        </h2>
                        <div id="accordion-{{ forloop.counter }}" class="accordion-collapse collapse"
                             aria-labelledby="accordion-{{ forloop.counter }}" data-bs-parent="#accordion-list">
                            <div class="accordion-body">
                                {% for o in l.get_child %}
                                    {% if l.title == o.parent.title %}
                                        <a href="{{ o.get_absolute_url }}">{{ o.title }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="con-body mt-2">
            <!--Body of Detail-->
            <h3 class="text-center text-white p-1 rounded-2 bg-secondary">{{ object.title }}</h3>
            <div class="d-flex justify-content-around">
                <div class="view-top">
                    Views: <b>{{ object.viewcounter }}</b> Post Update&nbsp;: <b>{{ object.timestamp }}</b> Author :
                    <b><a href="" class="text-decoration-none">{{ object.author|title }}</a></b>
                </div>
                <div>
                    {% csrf_token %}
                    <span class="like-share">
                     {% if obj_like_exist == "Yes" %}
                         <a class="text-decoration-none text-dark me-md-3 like-button" href="#"> <i
                                 class="fa-solid fa-thumbs-up"
                                 id="like-button-top"></i></a>
                     {% else %}
                         <a class="text-decoration-none text-dark me-md-3 like-button" href="#"> <i
                                 class="fa-regular fa-thumbs-up" id="like-button-top"></i></a>
                     {% endif %}

                        {% if not request.user.is_authenticated %}
                            <a class="text-decoration-none text-dark me-md-3" href="#" id="bookmark"> <i
                                    class="fa-regular fa-bookmark"></i></a>
                        {% else %}
                            {% if article_obj|is_bookmark_exist:request %}
                                <a class="text-decoration-none text-dark me-md-3" href="#" id="bookmark"> <i
                                        class="fa fa-bookmark"></i></a>
                            {% else %}
                                <a class="text-decoration-none text-dark me-md-3" href="#" id="bookmark"> <i
                                        class="fa-regular fa-bookmark"></i></a>
                            {% endif %}
                        {% endif %}
                        <div class="dropdown d-inline">
                          <a class="text-decoration-none text-dark dropdown-toggle" role="button" id="dropdownMenuLink"
                             data-bs-toggle="dropdown"
                             aria-expanded="false">
                              <i class="fa fa-share-nodes"></i>
                          </a>

                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item text-success"
                                   href="whatsapp://send?text={{ request.build_absolute_uri }}"><i
                                    class="fa-brands fa-whatsapp"></i></a></li>
                            <li><a class="dropdown-item text-primary" target="_blank"
                                   href="http://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ object.title }}"><i
                                    class="fa-brands fa-linkedin"></i></a></li>
                            <li><a class="dropdown-item text-primary" target="_blank"
                                   href="https://www.twitter.com/share?url={{ request.build_absolute_uri }}"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                          </ul>
                        </div>

            </span>
                </div>
            </div>
            <section>            {{ object.content|safe }}</section>
            <!--Next and Previous button -->
            <div class="d-flex justify-content-between bd-highlight mb-3">
                <div>
                    {% if prev != None %}
                        <a class="btn btn-success" href="{{ prev.get_absolute_url }}"><i class="fa fa-less-than"></i>
                            &nbsp;
                            Previous</a>
                    {% else %}
                        <a class="btn btn-success disabled" href="#"><i class="fa fa-less-than"></i> &nbsp; Previous</a>
                    {% endif %}
                </div>

                <div>
                    {% if obj_like_exist == "Yes" %}
                        <button class="btn btn-outline-danger like-button" id="like-button"><i
                                class="fa-solid fa-heart"></i>
                            &nbsp;<span id="like-button-text">Liked</span>
                            <span id="like-button-number">{{ obj_like_count }}</span> &nbsp;
                        </button>
                    {% else %}
                        <button class="btn btn-outline-danger like-button" id="like-button"><i
                                class="fa-regular fa-heart"></i>
                            &nbsp;<span id="like-button-text">Like</span>
                            <span id="like-button-number">{{ obj_like_count }}</span> &nbsp;
                        </button>
                    {% endif %}
                </div>
                <div>

                    {% if next != None %}
                        <a class="btn btn-success float-end"
                           href="{{ next.get_absolute_url }}">Next &nbsp; <i class="fa fa-greater-than"></i></a>
                    {% else %}
                        <a class="btn btn-success float-end disabled" href="#">Next &nbsp; <i
                                class="fa fa-greater-than"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}